body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #27ae60;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

h1 {
    margin: 0;
    font-weight: 300;
}

#equipment-info {
    position: fixed; 
    top: 100px; 
    right: 0; 
    width: 350px;
    max-height: 98vh; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    z-index: 1000; 
    display: none; 
}

#equipment-info h3 {
    margin-top: 0;
    color: #2c3e50; 
    border-bottom: 3px solid #27ae60; 
    padding-bottom: 15px; 
    font-size: 1.5rem; 
    font-weight: 600; 
    border-radius: 5px; 
    position: relative; 
}

#equipment-info h3::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px; 
    height: 4px; 
    background-color: #27ae60; 
    border-radius: 2px;
}


#equipment-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#equipment-info li {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

#equipment-info li:last-child {
    border-bottom: none;
}

#equipment-info li span {
    color: #666;
    font-size: 0.9rem;
}

#map {
    height: 90vh;
    width: 100%;    
}

#equipment-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

#equipment-table th,
#equipment-table td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

#equipment-table th {
    background-color: #f4f4f4; 
    font-weight: bold; 
}

#equipment-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

#equipment-table tr:hover {
    background-color: #eaeaea; 
}

#pagination-controls {
    margin-top: 10px;
    text-align: center;
}

#pagination-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    border-radius: 4px;
    cursor: pointer;
}

#pagination-controls button:disabled {
    background-color: #eaeaea;
    cursor: not-allowed;
}

#filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#state-filter {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    cursor: pointer;
}

#state-filter:focus {
    border-color: #27ae60;
    outline: none;
    box-shadow: 0 0 4px rgba(39, 174, 96, 0.5);
}

