.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mapDiv {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 16px;
}

.filterDiv {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}