//Author: Daniel Emidio
//Github: https://github.com/DanielEmidio1988

.container{
    width: 100%;
    max-width: 1200px;
}

.inner_padding_lg{
    padding: $inner-padding-lg;
}

.inner_padding_md{
    padding: $inner-padding-md;
}

.inner_padding_sm{
    padding: $inner-padding-sm;
}