.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  font-size: 0.75em;
  font-weight: 700;
  color: white;
  background-color: gray;
  border-radius: 12px;
  text-transform: uppercase;
  text-align: center;
}
