.largeContainer {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


#root {
    background-color: #B25A00;
  }