body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


a {
    font-weight: bold;
}

.row.full-height {
    height: calc(100vh - 90px); /* 70px é a altura do header */
    min-height: 400px;
}

.loading-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .row.full-height {
        display: flex;
        flex-direction: column;
        height: unset !important;
        min-height: unset !important;
    }

    .form-control {
        margin-bottom: 8px;
    }
}