/* grafico.module.css */
.donutChart {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(black 100%, black 100%);
  clip-path: circle(50% at 50% 50%);
}

.centerHole {
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.percentage {
  display: flex;
  font-weight: 800;
  margin: 0;
  justify-content: center;
  align-items: center;
}
