.container {
  width: 30%;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1080px) {
  .container {
    width: 100%;
    height: 72vh;
    display: flex;
    padding: 0 8px;
  }
}
