@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-root-background antialiased font-sans;
  }

  li {
    @apply list-none;
  }
}