.map-container {
    position: relative;
    display: flex;
    justify-content: center;  
  }
  
  .filter-button-container {
    position: absolute;
    top: 20%;
    left: 10px;
    height: 45%;
    background-color: #3c3c3cd4; /* Cor de fundo da barra */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque à barra */
    z-index: 1000; /* Garante que a barra fique acima do mapa */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;  
  }
  
  button.filter-button {
    background-color: white; 
    color: #535626; 
    border: none; 
    border-radius: 15px; 
    font-size: 16px; 
    cursor: pointer; 
    height: 45px;
    transition: background-color 0.3s; 
  }
  
  button.filter-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
    background-color: white; 
    color: #535626; 
    
  }

  button.history-button {
    background-color: #535626;
    display: flex;
    width: 100%;
    justify-content: center;

  }

  button.history-button:hover {
    background-color: #767957;
    display: flex;
    width: 100%;
    justify-content: center;

  }

  .drawer-overlay {
    background-color: transparent !important; 
  }
