.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.modal-title {
  font-size: 1.5rem;
  color: var(--color-green);
}

.close-icon {
  color: var(--color-blue);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-infos {
  padding: 20px;
}
