@import '../../../assets/scss/styled.scss';

.popupMarker{
    width: 100%;
    height: 100%;
    padding: 8px;

    .popupMarker___name_equipment{

    }

    .popupMarker___model{
        
    }

    .popupMarker___state{
        margin-top: 4px;
        padding: 4px 12px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        color: $white-color; 
        text-align: center;  
        display: inline; 
    }

    .popupMarker___readMore{
        text-align: right;
        cursor: pointer;
    }

    .popupMarker___readMore:hover{
        font-weight: 700;
    }
}