@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 13%;
    --primary: 166 100% 40%; /* #00BE9C */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 80%;
    --input: 0 0% 85%;
    --ring: 0 0% 13%;
    --radius: 0.5rem;
    --chart-1: 0 0% 20%;
    --chart-2: 0 0% 50%;
    --chart-3: 0 0% 70%;
    --chart-4: 0 0% 85%;
    --chart-5: 0 0% 90%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 166 100% 40%; /* #00BE9C */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 25%;
    --ring: 0 0% 70%;
    --chart-1: 0 0% 35%;
    --chart-2: 0 0% 50%;
    --chart-3: 0 0% 65%;
    --chart-4: 0 0% 75%;
    --chart-5: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
