@use '../../assets/base' as *;

/* Estilo do botão de filtrar */
.filter-button {
    background-color: $primary-color;
    color: $text-color;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.filter-button:hover {
    background-color: $primary-dark;
}

.filter-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem $focus-color;
}

.filter-button:active {
    background-color: $primary-darker;
}

/* Estilo do select */
.custom-select {
    position: relative;
}

.custom-select select {
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
    appearance: auto;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-select select:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 0 0.2rem $focus-color;
}