:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: start;

  a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover, &.active {
      background-color: #555;
    }
  }
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
