<div class="h-screen w-screen overflow-x-hidden">
  <header class="h-[72px] w-full border-b border-gray-200 flex justify-between items-center px-8">
    <div>
      <img ngSrc="/imgs/logo/aiko.png" width="64" height="64" priority="true" alt="Aiko" />
    </div>
  </header>
  <div class="h-[calc(100%-72px)] flex">
    <aside
      class="h-full min-w-[378px] w-[378px] border-r border-gray-200 px-8 py-4 flex flex-col gap-6 overflow-y-auto"
    >
      <app-search (searchChange)="search($event)"></app-search>

      <h2 class="text-xl font-bold">Equipamentos</h2>
      @if (filteredEquipments().length) {
        @for (equipment of filteredEquipments(); track equipment.id) {
          <app-equipment-card
            (click)="selectEquipment(equipment.id)"
            [model]="equipment.equipmentModel?.name || ''"
            [state]="getLastEquipmentState(equipment).state.name"
            [stateColor]="getLastEquipmentState(equipment).state.color"
            [name]="equipment.name"
            [selected]="checkEquipmentSelected(equipment.id)"
            [image]="getEquipmentImage(equipment.name)"
          ></app-equipment-card>
        }
      }
    </aside>
    <main class="h-full w-full">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
