<div class="h-screen w-screen overflow-x-hidden">
  <header class="h-[72px] w-full border-b border-gray-200 flex justify-between items-center px-8">
    <div>
      <img ngSrc="/imgs/logo/aiko.png" width="64" height="64" priority="true" alt="Aiko" />
    </div>
    <div>
      <label
        class="bg-gray-50 flex items-center border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 h-[42px] w-full px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        for="search"
      >
        <lucide-angular size="18" [img]="icons.Search"></lucide-angular>
        <input
          type="text"
          id="search"
          class="bg-transparent border-0 h-full focus:ring-0 text-sm"
          placeholder="Encontre um equipamento"
        />
      </label>
    </div>
  </header>
  <div class="h-[calc(100%-72px)] flex">
    <aside
      class="h-full min-w-[378px] w-[378px] border-r border-gray-200 px-8 py-4 flex flex-col gap-6 overflow-y-auto"
    >
      <h2 class="text-xl font-bold">Equipamentos</h2>
      @for (data of data$ | async; track $index) {
        <app-equipment-card
          (click)="selectEquipment(data.equipment.id)"
          [state]="data.currentState?.name || ''"
          [stateColor]="data.currentState?.color || ''"
          [model]="data.model?.name || ''"
          [name]="data.equipment.name"
          [selected]="checkEquipmentSelected(data.equipment.id)"
          [image]="'/imgs/equipments/' + data.equipment.name.split('-')[0] + '.jpg'"
        ></app-equipment-card>
      }
    </aside>
    <main class="h-full w-full">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
