@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-basis);
  color: var(--color-neutral);

  --color-primary: #003184;
  --color-secondary: rgba(239, 241, 254, 1);
  --color-neutral: rgba(30, 31, 36, 1);
  --color-basis: rgba(249, 249, 251, 1);
  --color-surface: rgba(252, 252, 253, 1);
  --color-fixed: rgba(238, 238, 240, 1);
  --color-success: rgba(34, 197, 94, 1);
  --color-warning: rgba(245, 158, 11, 1);
  --color-error: rgba(220, 38, 38, 1);
}

.dark {
  --color-primary: #003184;
  --color-secondary: rgba(36, 30, 78, 1);
  --color-neutral: rgba(238, 238, 240, 1);
  --color-basis: rgba(25, 25, 27, 1);
  --color-surface: rgba(17, 17, 19, 1);
  --color-fixed: rgba(238, 238, 240, 1);
  --color-success: rgba(74, 222, 128, 1);
  --color-warning: rgba(251, 191, 36, 1);
  --color-error: rgba(248, 113, 113, 1);
}
