.container {
  width: 98%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.contentUser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu {
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu {
  width: 48px;
  border: 1px solid rgb(202, 202, 202);
  background-color: white;
}

.menu img {
  height: 24px;
  width: 24px;
}
.nameUser {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.logo {
  height: 40px;
}
