.custom-icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #000; 
}

.leaflet-popup-content-wrapper {
  font-size: 14px;
  line-height: 1.5;
}

.leaflet-popup-content {
  padding: 10px;
}

.filters {
  display: flex;
  width: fit-content;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  label {
    flex: 1;
    min-width: 200px; 
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: #333;

    select {
      margin-top: 8px;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #fff;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      width: 100%;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  @media (max-width: 768px) {
    width: inherit;
    flex-direction: column; 
    align-items: flex-start; 

    label {
      margin-bottom: 15px; 
      width: 100%; 
    }
  }
}

.leaflet-control-attribution {
  display: none !important;
}
.leaflet-control-zoom {
  display: none;
}