.pointer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    pointer-events: all;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}