.details {
    background-color: #fff;
    padding: 0 16px;

    &Header {
        padding: 16px 0 0;
    }

    &Spacer {
        padding: 8px 0;
    }
}

.returnLink {
    display: flex;
    background-color: #012a70;
    color: #FFF;
    padding: 16px;
    font-weight: bold;
}