.button-contained {
  font-family: 'oxygen', sans-serif !important;
  border-radius: 12px !important;
  padding: 10px 20px !important;
  text-transform: capitalize !important;
  background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(28, 28, 28) 100%);
  box-shadow: none !important;
}