// Definição das variáveis de cor
$primary-color: #4A90E2;
$primary-dark: #357ABD;
$primary-darker: #2D6AA8;
$primar-super-darker: #1C3A5B;
$border-color: #ced4da;
$focus-color: rgba(74, 144, 226, 0.5);
$background-color: #f6f6f6;
$text-color: #f6f6f6;

// Variáveis de tamanho
$header-height: 70px;
$content-height: calc(100vh - $header-height);
