

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.gradient-text {
  font-size: 2.0rem;
  font-weight: bold;
  background: linear-gradient(300deg, #6c6c6c, #acabab);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 6s ease infinite;
  margin-bottom: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
}

.equipment-card {
  width: 100%;
  height: 200px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-button {
  width: 90px;
  height: 40px;
  margin-top: 70px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
  align-self: center;
}

.details-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.card-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.equipment-name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #001f3f;
  margin-top: 10px;
}
.show-more-btn {
  width: 200px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.show-more-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.show-more-btn:active {
  transform: scale(0.95);
}

.dialog-card {
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
}

.dialog-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 16px;
}

.dialog-description {
  padding: 16px;
  font-size: 1rem;
  color: #333;
}

.close-btn {
  color: #007bff;
  font-weight: bold;
}

.close-btn:hover {
  background-color: #e0e0e0;
}