.App {
  text-align: center;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #282c34; 
  font-size: 2.5rem; 
  margin: 20px 0; 
  text-align: center; 
  font-weight: bold; 
  letter-spacing: 2px; 
}
