@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Poppins-Regular.ttf") format("ttf"),
    url("./fonts//Poppins-SemiBold.ttf") format("ttf");
  font-weight: 400; /* Regular */
  font-style: normal;
}
#root {
  font-family: "Montserrat", sans-serif;
  background-color: #f9fafb;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
