.grayscaleTile {
  filter: grayscale(100%);
}
.modelContainer {
  background-color: #e74c3c;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.modelImg {
  width: 70%;
  height: 70%;
  filter: invert(100%);
}

.operando {
  background-color: #2ecc71;
}

.parado {
  background-color: #f1c40f;
}

.manutencao {
  background-color: #e74c3c;
}

.popup {
  position: absolute;
  top: -124px;
}

.title {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
}
.state {
  margin: 0;
  font-weight: 400;
}
