.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 100%;
    max-width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 20px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.list-item {
    appearance: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
    font-size: 16px;
    padding-top: 5px;
}

.state-date {
    color: #919492;
    font-size: 14px;
}

.state-name {
    color: #131313;
}

.equipment-info {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    text-align: center;
}