@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.leaflet-popup-content-wrapper {
  font-family: 'Roboto', sans-serif !important;
}
